
.colors-on-hover .icon-twitter .foreground {
    fill: #000
}

.colors-on-hover .icon-twitter:hover .foreground {
    fill: #2aa9e0
}

.colors-on-hover .icon-facebook .background {
    fill: transparent
}

.colors-on-hover .icon-facebook .foreground {
    fill: #000
}

.colors-on-hover .icon-facebook:hover .background {
    fill: #3b5999
}

.colors-on-hover .icon-facebook:hover .foreground {
    fill: #fff
}

.colors-on-hover .icon-googleplus .background {
    fill: transparent
}

.colors-on-hover .icon-googleplus .foreground {
    fill: #000
}

.colors-on-hover .icon-googleplus:hover .background {
    fill: #dd4b39
}

.colors-on-hover .icon-googleplus:hover .foreground {
    fill: #fff
}

.colors-on-hover .icon-linkedin .background {
    fill: transparent
}

.colors-on-hover .icon-linkedin .foreground {
    fill: #000
}

.colors-on-hover .icon-linkedin:hover .background {
    fill: #0077b5
}

.colors-on-hover .icon-linkedin:hover .foreground {
    fill: #fff
}

.colors-on-hover .icon-instagram:hover .insta1 {
    fill: url(#SVGID_1_)
}

.colors-on-hover .icon-instagram:hover .insta2 {
    fill: url(#SVGID_2_)
}

.colors-on-hover .icon-instagram:hover .insta3 {
    fill: url(#SVGID_3_)
}

.colors-on-hover .icon-whatsapp .whatsapp1 {
    fill: transparent
}

.colors-on-hover .icon-whatsapp .whatsapp2 {
    fill: #000
}

.colors-on-hover .icon-whatsapp:hover .whatsapp1 {
    fill: #2CB742
}

.colors-on-hover .icon-whatsapp:hover .whatsapp2 {
    fill: #FFF
}

.colors-on-hover .icon-skype:hover .foreground {
    fill: #00AAF2
}

.colors-on-hover .icon-wechat:hover .wechat1 {
    fill: #A7CF38
}

.colors-on-hover .icon-wechat:hover .wechat2 {
    fill: #8BB531
}

.colors-on-hover .icon-wechat:hover .wechat3 {
    fill: #E5E5E5
}

.colors-on-hover .icon-wechat:hover .wechat4 {
    fill: #CCC
}

.colors-on-hover .icon-codepen:hover .hcodepen, .colors-on-hover .icon-github:hover .hgithub {
    fill: #fdf5e8
}

.colors-on-hover .icon-youtube:hover .hyoutube {
    fill: #F61C0D
}

.colors-on-hover .icon-rss .background {
    fill: transparent
}

.colors-on-hover .icon-rss .foreground {
    fill: #000
}

.colors-on-hover .icon-rss:hover .background {
    fill: #f28c36
}

.colors-on-hover .icon-rss:hover .foreground {
    fill: #fff
}

.colors-on-hover .icon-envelope .background {
    fill: transparent
}

.colors-on-hover .icon-envelope .foreground {
    fill: #000
}

.colors-on-hover .icon-envelope:hover .foreground, .colors-on-hover .icon-plunker:hover .hplnkr {
    fill: #fdf5e8
}

.colors-on-hover .icon-vk .hvk1 {
    fill: transparent
}

.colors-on-hover .icon-vk:hover .hvk1 {
    fill: #44678D
}

.colors-on-hover .icon-vk:hover .hvk2 {
    fill: #FFF
}

.colors-on-hover .icon-slack:hover .slack1 {
    fill: #DFA22F
}

.colors-on-hover .icon-slack:hover .slack2 {
    fill: #3CB187
}

.colors-on-hover .icon-slack:hover .slack3 {
    fill: #CE1E5B
}

.colors-on-hover .icon-slack:hover .slack4 {
    fill: #392538
}

.colors-on-hover .icon-slack:hover .slack5 {
    fill: #BB242A
}

.colors-on-hover .icon-slack:hover .slack6 {
    fill: #72C5CD
}

.colors-on-hover .icon-slack:hover .slack7 {
    fill: #248C73
}

.colors-on-hover .icon-slack:hover .slack8 {
    fill: #62803A
}

.colors-on-hover .icon-hangout .fil2 {
    fill: transparent !important
}

.colors-on-hover .icon-hangout:hover .fil0 {
    fill: #212121;
    fill-rule: nonzero
}

.colors-on-hover .icon-hangout:hover .fil1 {
    fill: #139A58
}

.colors-on-hover .icon-hangout:hover .fil2 {
    fill: #FFFFFE
}

.colors-on-hover .icon-hangout:hover .fil3 {
    fill: none
}

.colors-on-hover .icon-hangout .hg1 {
    fill: #000
}

.colors-on-hover .icon-hangout .hg2 {
    fill: transparent
}

.colors-on-hover .icon-hangout .hg3, .colors-on-hover .icon-hangout .hg4 {
    fill: #000
}

.colors-on-hover .icon-hangout:hover .hg1 {
    fill: url(#a)
}

.colors-on-hover .icon-hangout:hover .hg2 {
    fill: #fff
}

.colors-on-hover .icon-hangout:hover .hg3 {
    fill: #6fa14d
}

.colors-on-hover .icon-hangout:hover .hg4 {
    fill: #77ab50
}

.colors-on-hover .icon-line .hline1 {
    fill: transparent
}

.colors-on-hover .icon-line .hline2 {
    fill: #000
}

.colors-on-hover .icon-line .line0 {
    fill: transparent
}

.colors-on-hover .icon-line:hover .hline1 {
    fill: #00C200
}

.colors-on-hover .icon-line:hover .hline2 {
    fill: #00C500
}

.colors-on-hover .icon-line:hover .line0 {
    fill: #FFF
}

.colors-on-hover .icon-messenger:hover .hmessenger {
    fill: #0084ff
}

.colors-on-hover .icon-telegram .telegram1, .colors-on-hover .icon-telegram .telegram2 {
    fill: #000
}

.colors-on-hover .icon-telegram .telegram3 {
    fill: #fff
}

.colors-on-hover .icon-telegram .telegram4, .colors-on-hover .icon-telegram .telegram5, .colors-on-hover .icon-telegram .telegram6, .colors-on-hover .icon-telegram .telegram7 {
    fill: transparent
}

.colors-on-hover .icon-telegram:hover .telegram1 {
    fill: #FFF
}

.colors-on-hover .icon-telegram:hover .telegram2 {
    fill: #D1D1D1
}

.colors-on-hover .icon-telegram:hover .telegram3 {
    fill: #DADDE0
}

.colors-on-hover .icon-telegram:hover .telegram4 {
    fill: #7AA5DA
}

.colors-on-hover .icon-telegram:hover .telegram5 {
    fill: #5786B5
}

.colors-on-hover .icon-telegram:hover .telegram6 {
    fill: #9EC2E5
}

.colors-on-hover .icon-telegram:hover .telegram7 {
    fill: #ADBCC9
}

.colors-on-hover .icon-snapchat .snap1, .colors-on-hover .icon-telegram .snap2 {
    fill: transparent
}

.colors-on-hover .icon-snapchat:hover .snap1 {
    fill: #fffc00
}

.colors-on-hover .icon-telegram:hover .snap2 {
    fill: #fff
}

.colors-on-hover .icon-telegram:hover .snap3 {
    fill: #020202
}

.colors-on-hover .icon-sencha:hover .sencha1 {
    fill: #7CBA3D
}

.colors-on-hover .icon-sencha:hover .sencha2 {
    fill: #C5D83E
}

.colors-on-hover .icon-sencha:hover .sencha3 {
    fill: url(#a)
}

.colors-on-hover .icon-sencha:hover .sencha4 {
    fill: url(#b)
}

.colors-on-hover .icon-sencha:hover .sencha5 {
    fill: url(#c)
}

.colors-on-hover .icon-jsfiddle:hover .jsfiddle1 {
    fill: #4679A4
}

.colors-on-hover .icon-allo .allo2 {
    fill: #668284
}

.colors-on-hover .icon-allo:hover .allo1 {
    fill: #FFC107
}

.colors-on-hover .icon-aloo:hover .allo2 {
    fill: #ECEFF1
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    transition: opacity .5s;
    visibility: hidden;
    opacity: 0
}

.overlay:target {
    visibility: visible;
    opacity: 1
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all .2s;
    font-size: 30px;
    text-decoration: none;
    color: #333
}

.popup .close:hover {
    color: #06D85F
}

.popup .content {
    max-height: 30%;
    overflow: auto
}

@media screen and (max-width: 800px) {
    .popup {
        width: 70%
    }
}

.social-svg{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 32px;
    text-align: center;
    background-color: #668284
}